{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
  <div class="form-error">
    {{ error.messageKey|trans(error.messageData, 'security') }}
  </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
  {% if csrf_token %}
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  {% endif %}

  <div class="form-group">
    <input type="text"
           id="username"
           name="_username"
           value="{{ last_username }}"
           required="required"
           title="{{ 'security.login.username'|trans }}"
           placeholder="{{ 'security.login.username'|trans }}"
    />
  </div>

  <div class="form-group">
    <input type="password"
           id="password"
           name="_password"
           required="required"
           title="{{ 'security.login.password'|trans }}"
           placeholder="{{ 'security.login.password'|trans }}"
    />
  </div>

  <div class="form-group-checkbox">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
  </div>

  <div class="form-actions">
    <button id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
  </div>

  <div class="form-alternate">
    <a href="{{ path("fos_user_registration_register") }}">register</a>
    or
    <a href="{{ path("fos_user_resetting_request") }}">restore password</a>
  </div>
</form>
